<!-- 1. Visualización de Libros Disponibles: La aplicación debe mostrar una lista de libros disponibles que el usuario pueda revisar.

2. Creación de Lista de Lectura: El usuario debe ser capaz de crear una lista de lectura a partir de los libros disponibles. 
En la UI debe quedar claro qué libros están en la lista de lectura y cuáles no. También debe ser posible mover un libro de la 
lista de lectura a la lista de disponibles. -->

<header class="header">
  <app-header />
</header>
<main class="content-left m-3">
  <app-content-books />
</main>
<aside class="content-right m-3">
  <app-reading-list />
</aside>



<router-outlet />