<!-- 1. Visualización de Libros Disponibles: La aplicación debe mostrar una lista de libros disponibles que el usuario pueda revisar.

2. Creación de Lista de Lectura: El usuario debe ser capaz de crear una lista de lectura a partir de los libros disponibles. 
En la UI debe quedar claro qué libros están en la lista de lectura y cuáles no. También debe ser posible mover un libro de la 
lista de lectura a la lista de disponibles. -->

<!-- <header class="w-full h-full bg-green-200">
  8 Libros Disponibles
  <br>
  2 en la lista de lectura
</header>

<main class="w-full h-full bg-red-400"></main>
<aside class="w-full h-full bg-yellow-400"></aside> -->

<header class="header"></header>
<div class="content-left m-3">Contenido Izquierdo</div>
<div class="content-right m-3">Contenido Derecho</div>



<router-outlet />