.container {
    height: 90%;
    padding: 0.5rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 10% 70% 20%;
}

footer>* {
    height: 2rem;
    width: 100px;
    border-radius: 0.75rem;
    border-width: 1.5px;
    padding: 0 1rem;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
        transform: scale(1.05);
        cursor: pointer;
        transition: all 150ms ease-in-out;
    }
}